---
import { Image } from "astro:assets"
import MainLayout from "../layouts/MainLayout.astro"
import pfp from "../assets/117209328.jpg"
---

<MainLayout title="">
	<section class="h-screen flex items-center justify-center">
		<div class="text-center flex flex-col items-center">
			<Image src={pfp} alt="profile picture" class="max-w-8/10 w-80 rounded-full my-10" />
			<h1 class="text-5xl font-bold text-gray-800 mb-4">
				acandoo
			</h1>
			<p class="text-xl text-gray-600 mb-8 max-w-80">
				co2027 @ the browning school / 15 years of experience / member of the javascript deep state
			</p>
			<div class="animate-bounce">
				<svg
					class="w-8 h-8 mx-auto text-gray-400"
					fill="none"
					stroke="currentColor"
					viewBox="0 0 24 24"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M19 14l-7 7m0 0l-7-7m7 7V3"
					/>
				</svg>
			</div>
		</div>
	</section>
</MainLayout>
